<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat1</title>
    <link rel="stylesheet" href="/static/css/main.css">
   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    
</head>
<body>
    <div id="frame">
        <div id="sidepanel">
            <div id="search">
                <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
                <input type="text" placeholder="Search contacts..." />
            </div>
            <div  id="contacts">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li  class="contact nav-item" role="presentation">
                        <a v-on:click.prevent='groupe(0)' class="nav-link" id="nan-tab" data-toggle="pill" href="#nan" role="tab" aria-controls="nan" aria-selected="true">
                            <div class="wrap">
                                <span class="contact-status online"></span>
                                <img src="https://nan.nan.ci/static/ressources/images/logo-nan.png" alt="" />
                                <div class="meta">
                                    <p class="name">NaN </p>
                                    <p class="preview">Not a Number</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="contact nav-item" role="presentation">
                        <a v-on:click.prevent='groupe(1)' class="nav-link" id="django-tab" data-toggle="pill" href="#django" role="tab" aria-controls="django" aria-selected="false">
                            <div class="wrap">
                                <span class="contact-status busy"></span>
                                <img src="https://miro.medium.com/max/3840/1*T_pC3-Is47lztWPspLvR9Q.jpeg" alt="" />
                                <div class="meta">
                                    <p class="name">Django</p>
                                    <p class="preview">Python - Django</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="contact nav-item" role="presentation">
                        <a v-on:click.prevent='groupe(2)' class="nav-link" id="flutter-tab" data-toggle="pill" href="#flutter" role="tab" aria-controls="flutter" aria-selected="false">
                            <div class="wrap">
                                <span class="contact-status"></span>
                                <img src="https://ih1.redbubble.net/image.1057190214.1918/flat,750x1000,075,f.jpg" alt="" />
                                <div class="meta">
                                    <p class="name">Flutter</p>
                                    <p class="preview">Mobile .</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="bottom-bar">
                <button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
                <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
            </div>
        </div>
        <div class="tab-content content" id="pills-tabContent">
            <div class="contact-profile">
                <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                <p>Harvey Specter</p>
                <div class="social-media">
                        <i class="fas fa-video"></i>
                    <i class="fas fa-video" aria-hidden="true"></i>
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <i class="fa fa-ellipsis-v"></i>
                </div>
            </div>

            <div class="tab-pane messages fade" id="flutter" role="tabpanel" aria-labelledby="flutter-tab">
                <ul>
                    <li class="sent">
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                        <div class="sms ">
                            <p class="col-md-12" style="padding-left: 9px;">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                            <p class="col-md-12" style="text-align: right;">02:31</p>
                        </div>
                    </li>
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <div class="sms ">
                                <p class="col-md-12" style="padding-left: 9px;">When you're backed against the wall, break the god damn thing down.</p>
                                <p class="col-md-12" style="text-align: right;">02:31</p>
                            </div>
                    </li>
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <div class="sms ">
                                <p class="col-md-12" style="padding-left: 9px;">Excuses don't win championships.</p>
                                <p class="col-md-12" style="text-align: right;">02:31</p>
                            </div>
                    </li>
                    <li class="sent">
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                        <div class="sms ">
                            <p class="col-md-12" style="padding-left: 9px;">Oh yeah, did Michael Jordan tell you that?</p>
                            <p class="col-md-12" style="text-align: right;">02:31</p>
                        </div>
                    </li>
                    <li v-for='item in reponse' class="sent">
                        <div v-if=" item.groupe == 'Flutter' ">
                            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                            <div class="sms ">
                                <p class="col-md-12" style="padding-left: 9px;">${item.mes}</p>
                                <p class="col-md-12" style="text-align: right;">${item.heure}</p>
                            </div>
                        </div>
                        
                    </li>
                </ul>
                <div class="message-input">
                    <div class="wrap">
                    <input v-model="message" type="text" placeholder="Ecrire message Flutter" />
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button @click="sendmessage()" type="button" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <div class="tab-pane messages fade" id="django" role="tabpanel" aria-labelledby="django-tab">
                <ul>
                    <li class="sent">
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                        <div class="sms ">
                            <p class="col-md-12" style="padding-left: 9px;">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                            <p class="col-md-12" style="text-align: right;">02:31</p>
                        </div>
                    </li>
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <div class="sms ">
                            <p class="col-md-12" style="padding-left: 9px;">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                            <p class="col-md-12" style="text-align: right;">02:31</p>
                        </div>
                    </li>
                    <li v-for='item in reponse' class="sent">
                        <div v-if=" item.groupe == 'Django' ">
                            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                            <div class="sms ">
                                <p class="col-md-12" style="padding-left: 9px;">${item.mes}</p>
                                <p class="col-md-12" style="text-align: right;">${item.heure}</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="message-input">
                    <div class="wrap">
                    <input v-model="message" type="text" placeholder="Ecrire message Django" />
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button @click="sendmessage()" type="button" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            <div class="tab-pane messages fade" id="nan" role="tabpanel" aria-labelledby="nan-tab">
                <ul>
                    <li class="sent">
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                        <div class="sms ">
                            <p class="col-md-12" style="padding-left: 9px;">How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>
                            <p class="col-md-12" style="text-align: right;">02:31</p>
                        </div>
                    </li>
                    <li class="replies">
                        <img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
                        <div class="sms ">
                                <p class="col-md-12" style="padding-left: 9px;">When you're backed against the wall, break the god damn thing down.</p>
                                <p class="col-md-12" style="text-align: right;">02:31</p>
                            </div>
                    </li>
                    <li class="sent">
                        <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                        <div class="sms ">
                            <p class="col-md-12" style="padding-left: 9px;">Oh yeah, did Michael Jordan tell you that?</p>
                            <p class="col-md-12" style="text-align: right;">02:31</p>
                        </div>
                    </li>
                    <li v-for='item in reponse' class="sent">
                        <div v-if=" item.groupe == 'NaN' ">
                            <img src="http://emilcarlsson.se/assets/mikeross.png" alt="" />
                            <div class="sms ">
                                <p class="col-md-12" style="padding-left: 9px;">${item.mes}</p>
                                <p class="col-md-12" style="text-align: right;">${item.heure}</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="message-input">
                    <div class="wrap">
                    <input v-model="message" type="text" placeholder="Ecrire message NaN" />
                    <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
                    <button @click="sendmessage()" type="button" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>

            

        </div>
    </div>

    <script src="/static/js/main.js"></script>
    <!-- script vuejs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/reconnecting-websocket@4.1.10/dist/reconnecting-websocket-cjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-websocket@0.2.3/dist/vue-websocket.min.js"></script>
    <script>
        $(".messages").animate({ scrollTop: $(document).height() }, "slow");
        //# sourceURL=pen.js
    </script>

    <script>
            const app = new Vue({
            el: "#frame",
            data: {
                message: "",
                reponse: [],
                username:"Dago",
                roomName: ["NaN","Django","Flutter"],
                nomGroupe:"",
                date:'',
                heure:'',
                minute:'',
            
            },
            delimiters: ["${", "}"],
            mounted: function() {
                
                this.groupe()
                this.connect()
             
            },
            methods: {

                groupe: function(id){
                    if(this.nomGroupe){
                        this.nomGroupe = this.roomName[id];
                    }else{
                        this.nomGroupe = 'NaN';
                    };
                    
                    console.log(this.nomGroupe);
                    
                },
               
                connect: function() {
                    
                    
                    //this.socket = new WebSocket('ws://127.0.0.1:8000/ws/chat/' + roomName + '/');
                    //this.socket = new WebSocket('ws://192.168.1.111:8000/ws/chat/' + this.nomGroupe + '/');
                    this.socket = new WebSocket('ws://172.20.10.5:8000/ws/chat/' + this.nomGroupe + '/');
                    this.socket.onopen = () => {
                        this.status = "connected";
                        console.log("connecte")
                        
                        this.socket.onmessage = ({data}) => {
                            
                        // Recuperation message
                        wsdata = JSON.parse(data)
                        console.log(wsdata.message.mes)
                        this.reponse.push(wsdata.message)    
                        console.log(this.reponse)
                       
                        };
                    };
                },
                disconnect() {
                    this.socket.close();
                    
                    console.log("deconnecte")
                },

                sendmessage: function(){

                    this.date = new Date(),
                    this.heure = this.date.getHours();
                    this.minute = this.date.getMinutes();
                    if(this.minute < 10){
                        this.minute = '0' + this.minute;
                    };
                    if(this.heure < 10){
                        this.heure = '0'+ this.heure;
                    };

                    //this.username = '{{request.user.username}}';
                    console.log(this.username + '++++++++++')
                    data = {
                        'message':{ 
                            'groupe': this.nomGroupe,
                            'mes':this.message,
                            'user':this.username,
                            'heure': this.heure + ':'+ this.minute
                        }
                    }
                        this.socket.send(JSON.stringify(data));
                        
                    }
                   
                },
                  
                updateAdmin: function(){
                    
                    this.socket.send(JSON.stringify({ 'message':"code send succes", 'admin':this.admin, 'code':this.codedep }));
    
                }, 
              
    });
    </script>

    
</body>
</html>